<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1 th:text="${title}" />
</div>

<main class="container mt-10 ">
    <div class="mb-5 text-center" >
        <h2>Contact Information</h2>
        <p><strong>Address:</strong> 123 Main Street, Anytown, State 12345, United States </p>
        <p><strong>Email:</strong> cityLibraryUS@gmail.com </p>
        <p><strong>Telephone:</strong> +12 344 222 441</p>
    </div>


    <div class="text-muted">
        <p>This site was created by Anastasiia Samoilova.</p>
        <p>Email: aanast.sa00@gmail.com</p>
        <p>Technologies used: Spring, MySQL.</p>
    </div>
</main>

<header th:insert="blocks/footer :: footer"></header>
</body>
</html>
